body {


    background-color: #f0f0f0;

        background-color: #ffffff;

        background-color: #b2fbb2a5


        color: #000000;
        /* Ensure text is visible against the background */
}

/*
        background-image: url("img/misc/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
*/



/* Navigation Bar */


    .navbar{
        display: flex;

        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

    }
    .nav-back{
        display: flex;

        justify-content: center;
        align-items: center;

        background-color: azure;
        border: tan solid ;

        border-radius:20%;
    }

    .a-nav{
        min-width: 80px;
        padding: 10px 10px;
        background-color: #007BFF;
        border: #000000 solid 2px;
        margin: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 100px;
    }

/* Slideshow  */
        #slideshow {
            background-color: aliceblue;
            border: tan solid;
            border-radius: 10%;
            padding: 75px;
            margin-top: 10px;
            min-width: 550px;
            max-width: 850px;
            width: 100%;
            box-sizing: border-box;

            /* Center the slideshow on the page */
            margin-left: auto;
            margin-right: auto;
        }

        /* Slideshow images */
        #slideshow img {
            width: 100%;
            height: auto;
            display: none;
            border: 5px solid black;
            box-sizing: border-box;
        }

        #slideshow img.active {
            display: block;
        }



/*Art Display*/

    .gallery {
        width: min (100px, 100%);
        margin: 1 auto;
        columns: 3;

        background-color: aliceblue;
        border: tan solid;

        margin-top: 10px;
        padding: 75px;
        min-width: 550px;
        max-width: 850px;

        border-radius:10%;

    }
    .gallery img {
        width: 100%;
        border: black solid 2px;
        display: block;
        margin-bottom: 1em;
    }

/* Enhance Image */
    /* Modal overlay */
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Modal image */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 80%;
    }

    /* Close button */
    #close {
        position: absolute;
        top: 20px;
        right: 40px;
        color: white;
        font-size: 40px;
        cursor: pointer; }

/*Content  Container*/
.container {

    background-color: aliceblue;
    border: tan solid;




    min-width: 550px;
    max-width: 850px;

    border-radius: 10%;

    margin: auto;
    width: 80%;

    padding: 30px;
}

.container img {
    width: 400px;
    height: auto;
    float: left;
    padding: 10px;
}

.container h1{
    text-align: center;
}

/* Projects */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: aliceblue;
    border: tan solid;
    padding: 75px;
    min-width: 300px;
    max-width: 800px;
    margin: 10px auto;

    border-radius: 10%;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #000000;
    text-decoration: none;

    background-color: lightgrey;
    border: seashell 5px solid;

    width: 250px;
    height: 250px;

    flex-shrink: 0;
    border-radius: 10%;
}

.card img {
    max-width: 100%;
    max-height: 70%;
    object-fit: contain;
    border: #000000 5px solid;
    border-radius: 10%;
}


/*social*/
.social{
    background-color:azure;
    border: tan solid ;

    padding: 5px;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: auto;


    border-radius: 20%;
}

.social a{
    padding: 10px;
    position: relative;

}

.fab:hover{
    opacity: .7;
}

.fa-reddit{
    color: #FF4500;
}

.fa-tumblr{
    color: #36465D;
}

.fa-deviantart{
    color: #05CC47;
}

.fa-envelope{
    color: #D44638
}
